<% if params[:category] == "Any Category"%>
      <% @search_results = Massage.where city: params[:city] %>
      <%if @search_results.count == 0 %>
        <h3>Sorry we didn't find any magic hands, try a different search</h3>
        <%= render 'shared/search_form' %>
      <%else%>
        <%if @search_results.count == 1 %>
          <h3><%= @search_results.count %> massage available in <%= params[:city] %></h3>
        <%else%>
          <h3><%= @search_results.count %> massages available in <%= params[:city] %></h3>
        <%end%>
      <% end %>
    <% else %>
      <% @search_results = Massage.where city: params[:city], category: params[:category] %>
      <%if @search_results.count == 0 %>
        <h3>Sorry we didn't find any magic hands, try a different search</h3>
        <%= render 'shared/search_form' %>
      <%else%>
         <%if @search_results.count == 1 %>
          <h3><%= @search_results.count %> massage available in <%= params[:city] %></h3>
        <%else%>
          <h3><%= @search_results.count %> massages available in <%= params[:city] %></h3>
        <%end%>
      <% end %>
<% end %>
