<!-- WRAPPING THE BACKGROUND -->
<div class="wrapper" style="background-color: #ECE1BD;">

  <div class="container">
  <!--- determining if category is selected -->
    <% if params[:category] == "Any Category"%>
    <% @search_results = Massage.where city: params[:city] %>
    <h3 class="white"><%= @search_results.count %> massages available in <%= params[:city] %></h3>
    <% else %>
    <% @search_results = Massage.where city: params[:city], category: params[:category] %>
    <h3><%= @search_results.count %> <%= params[:category] %> massages available in <%= params[:city] %></h3>
    <% end %>

  <!-- printing cards -->
    <div class="row">
        <% @search_results.each do |massage| %>
          <div class="card col-xs-12 col-sm-4 col-md-3">
            <div class="card-category"><%= massage.tagline %></div>
            <div class="card-description">
              <p><%= massage.category %></p>

              <p>&#8364;<%= massage.price %> for <%= massage.length %> minutes</p>
            </div>
            <!-- <img class="card-user avatar" src="bg-landing.jpg"> -->
            <%= image_tag "bg-landing.jpg", class: "card-user avatar" %>
            <a class="card-link" href="<%= massage_path(massage)%>" ></a>
          </div>
        <% end %>
    </div>
    </div>
  </div>

</div>
