<!-- WRAPPING THE BACKGROUND -->
<div class="wrapper" style="background-color: #ECE1BD;">
  <div class="container">
    <!--- determining if category is selected -->
    <%= render 'search_result' %>

    <!-- printing cards -->
    <div class="row">
      <% @search_results.each do |massage| %>
        <div class="card col-xs-12 col-sm-4 col-md-3">
          <div class="card-category"><%= massage.tagline %></div>
          <div class="card-description">
            <p><%= massage.category %></p>
            <p><%= massage.price %>&#8364; - <%= massage.length %> minutes</p>
          </div>
          <!-- <img class="card-user avatar" src="bg-landing.jpg"> -->
          <%= image_tag "bg-landing.jpg", class: "card-user avatar" %>
          <a class="card-link" href="<%= massage_path(massage)%>" ></a>
        </div>
      <% end %>
    </div>

  </div>
</div>



