<div class="banner-massage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= check_user_has_photo %>');">
  <div class="banner-category"></div>
  <div class="banner-description">
    <h1><%= @massage.tagline %></h1>
    <h3><%= @massage.category %> massage with <%= @massage.user.name %></h3>
  </div>

</div>
<div class="container">
  <div class="media">
    <div class="media-body">

      <div class="media-section">
        <%= render 'massages/show_rating'%>
        <h3>Details</h3>
        <p><%= @massage.description %></p>
      </div>

      <div class="media-section">
        <h3>Masseuse</h3>
        <p><%= @massage.user.name %></p>
        <h3>Skills</h3>
        <p><%= @massage.user.skill %></p>

      <h3>Write A Review</h3>
        <%= render 'massages/add_review' %>
      </div>

    </div>

    <div class="media-aside">
      <div class="media-section text-center">
        <%= render 'shared/new_appointment' %>
      </div>
    </div>


  </div>
</div>
