<div class="banner-massage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= check_user_has_photo %>');">
  <%= get_avatar %>
  <div class="banner-category"></div>
  <div class="banner-description">
    <h1><%= @massage.tagline %></h1>
    <h3><%= @massage.category %> massage with <%= @massage.user.name %></h3>
  </div>

</div>
<div class="container">

    <div class="media">
      <div class="row">
      <div class="col-sm-12 col-md-8">
        <div class="media-body">
            <div class="media-section">
              <%= render 'massages/show_rating'%>
              <h3>Details</h3>
              <p><%= @massage.description %></p>
            </div>

            <div class="media-section">
              <h3>Masseuse</h3>
              <p><%= @massage.user.name %></p>
              <h4>Skills</h4>
              <p><%= @massage.user.skill %></p>
            </div>



        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class="media-aside">
            <div class="media-section text-center">
              <%= render 'shared/new_appointment' %>
            </div>
            <div class="media-section">
              <h4>Recent Reviews</h4>
                <%= render 'massages/show_reviews' %>
              </div>

              <div class="media-section">
                <%= add_review_show %>
              </div>
        </div>
      </div>
    </div>
    </div>

</div>
