<h1><%= @massage.tagline %></h1>

<p><%= @massage.description %></p>
<p><%= @massage.tagline %></p>
    <p>&#8364;<%= @massage.price %> for <%= @massage.length%> minutes</p>

<%= link_to 'destroy', massage_path(@massage), method: :delete %>
<%= link_to 'back to results', massages_path %>
