<div class="container">
  <h1><%= @massage.tagline %></h1>

  <p><%= @massage.description %></p>
  <p><%= @massage.tagline %></p>
      <p>&#8364;<%= @massage.price %> for <%= @massage.length%> minutes</p>

  <div class="media">
    <div class="media-body">
      <div class="media-section">
        <h2>Pictures</h2>
        ...
      </div>
      <div class="media-section">
        <h2>Description</h2>
        ...
      </div>
    </div>
    <div class="media-aside">
      <div class="media-section">
        <h2>Share</h2>
        ...
      </div>
      <div class="media-section">

        <%= render 'shared/new_appointment' %>
        ...
      </div>
    </div>
  </div>


  <%= link_to 'destroy', massage_path(@massage), method: :delete %>
  <%= link_to 'back to results', massages_path %>
</div>
