<%= form_for(@massage) do |f| %>

<div class="container">
  <div class="media">
    <div class="media-body">

      <div class="media-section">
        <div class="form-group">
          <%= f.text_field :tagline, class: "form-control", placeholder: "Name your fabulous massage" %>
        </div>

        <div class="form-inline">
          <%= f.label "Chosse a category" %>
          <%= f.select :category, Massage::CATEGORIES %>
          <div class="form-group form-group-tiny">
            <div class="input-group">
              <%= f.text_field :price, class: "form-control", placeholder: "Price" %>
              <div class="input-group-addon">&#8364;</div>
            </div>
          </div>
          <div class="form-group form-group-tiny">
            <div class="input-group">
              <%= f.text_field :length, class: "form-control", placeholder: "Minutes" %>
            </div>
          </div>
        </div>
      </div>

      <div class="media-section">
        <h3><%= f.label "Enter a description:" %></h3>
        <%= f.text_area :description, class: "form-control", placeholder: "Describe your amazing experience"%>
      </div>

      <div class="media-section">
        <h3><%= f.label "Add pictures:" %></h3>
        <%= f.text_area :description, class: "form-control", placeholder: "Describe your amazing experience"%>
      </div>

      <%= f.submit class: 'btn btn-primary btn-bordered btn-bordered-primary'%>
    </div>
  </div>
</div>




<% end %>
