<div class="card">
  <div class="card-category"></div>
  <div class="card-description">
    <h2>
    <%= @massages.category %>
      <%= @massages.description %>
      <%= @massages.tagline %>
      <%= @massages.price %>
      <%= @massages.length %>
    </h2>
    <p>Take it easy</p>
  </div>
  <!-- <img class="card-user avatar" src="bg-landing.jpg"> -->
  <%= image_tag "bg-landing.jpg", class: "card-user avatar" %>
  <a class="card-link" href="#" ></a>
</div>
