<!-- <style type="text/css"> *{ border: 1px solid red !important;} </style> -->

<div class="wrapper" style="background-color: #ECE1BD;">

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h3>My Appointments</h3>
      <ul>
        <% current_user.appointments.each do |appt| %>
        <!--current user either masseuse or client on login-->
          <% formatted_date_time = appt.date_time%>
          <li><strong><%= appt.massage.tagline %></strong></li>
          <li><%= formatted_date_time.strftime("on %B %d %Y at %H:%M %p") %></li>
          <li>client: <%= appt.user.name %> - <%= appt.user.phone %></li>
          <li>masseuse: <%= appt.massage.user.name%> - <%= appt.massage.user.phone %></li>
          <li>location: <%= appt.user.address %></li><!-- sets the address of the client only-->
              <br>
        <% end %>
      </ul>

    </div>
    <div class="col-xs-12 col-sm-3 rightwhite">
      <h3>My Details</h3>
      <p><%= current_user.name %></p>
      <p><%= current_user.email %></p>
      <p><%= current_user.address %></p>
      <p><%= current_user.phone %></p>
      <p><%= link_to 'Edit my details', edit_user_registration_path %></p>
      <p><%= link_to 'Delete my account', cancel_user_registration_path %></p>
    </div>
  </div>

  </div>
</div>
