<!-- <style type="text/css"> *{ border: 1px solid red !important;} </style> -->

<div class="wrapper" style="background-color: #E8DBB0;">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 appointments-list">
      <h3>My Appointments</h3>
      <% current_user.appointments.each do |appt| %>
      <div class="col-xs-12 col-sm-6 shadow white">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= check_massage_image(appt.massage) %>');">
        </div>
        <div class="card-block">
          <h4 class="text-center"><strong><%= appt.massage.tagline %></strong></h4>
            <ul>
              <% formatted_date_time = appt.date_time%>
              <li><%= formatted_date_time.strftime("Date: %B %d %Y at %H:%M %p") %></li>
              <li>client: <%= appt.user.name %> - <%= appt.user.phone %></li>
              <li>masseuse: <%= appt.massage.user.name%> - <%= appt.massage.user.phone %></li>
              <li>location: <%= appt.user.address %></li><!-- sets the address of the client only-->
            </ul>
        </div><!--end of card block-->
      </div>
      <% end %>

    </div>
    <div class="col-xs-12 col-sm-3 rightwhite">
      <h3>My Details</h3>
      <p><%= current_user.name %></p>
      <p><%= current_user.email %></p>
      <p><%= current_user.address %></p>
      <p><%= current_user.phone %></p>
      <p><%= link_to 'Edit my details', edit_user_registration_path %></p>
      <p><%= link_to 'Delete my account', cancel_user_registration_path %></p>
      <%= massage_editor %>
    </div>
  </div>

  </div><!--end of container-->
</div> <!--end of the wrapper-->
