

<!-- <#%= render 'searchform', search: @search %> -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 50%), url(<%= image_path "bg-landing.jpg" %>);">

  <div class="container">
  <h1>Handzon</h1>
  <h5>Massage on demand</h5>
  <%= form_tag massages_path, :method => 'get', class: 'form-inline' do %>
  <p>
    <%= select_tag "city", options_from_collection_for_select(@massages, "city", "city") %>
    <%= select_tag "category", options_for_select(["Any Category", "Thai", "Berber", "Swedish", "Holistic", "Shiatsu"], "Any Category") %>
    <%= submit_tag "Search", class: 'btn btn-primary btn-bordered btn-bordered-primary', :name => nil %>
  </p>
  <% end %>


  </div>
